nav {
  align-items: center;
  background-color: rgb(107, 232, 107);
  border: 1px solid #211414;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 2045px;
}

nav a {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
}

.pedidos {
  align-items: center;
  color: black;
  display: center;
  font-family: Sacramento , cursive;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.produtos {
  align-items: center;
  color: black;
  display: center;
  font-family: Sacramento , cursive;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.nomeCliente {
  align-items: center;
  color: black;
  display: center;
  font-family: Sacramento , cursive;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.sair {
  align-items: center;
  color: black;
  display: center;
  font-family: Sacramento , cursive;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
